body {
    background-color: beige;
    font:100% georgia;
  }

hr {
    border-style: dotted none none none;
    Border-width: 10px;
    width: 10%;
    border-color: #CEAB93;
  }

h1 {
    color: #E3CAA5;
  }

 
h3 {
    color: #E3CAA5;
  }

li {
    color: #AD8B73;
  }
   
p {
    color: #AD8B73;
  }
    
.topdiv {
  background-color: #FFFBE9;
} 
    
.middiv {
  Background-color: #FFFBE9;
}

.botdiv {
  background-color: #FFFBE9;
}

div {
  padding: 7%;
  Margin: 7%;
}
