  body {
    background-color: #FFFBE9;
    margin: 6%;
    font:normal 12px verdana;
   }

  hr {
      border-style: dotted none none none;
      Border-width: 10px;
      width: 10%;
      border-color: #CEAB93;
      }

  h1 {
    color: #E3CAA5;
   }

  a:hover {
    text-decoration: underline;
   }
  
  h5 {
    color: #E3CAA5;
    text-decoration: underline none;
     }


  
   li {
      color: #AD8B73;
      }
   
    p {
      color: #AD8B73;
      }
    
    
    
/**********class selectors vs tag selectors*****************/

/* .bacon */

